body{
	margin: 0;
	font-size: 16px;
	line-height: 1.8;
	font-family: 'Open Sans', sans-serif;
	background: floralwhite;
	padding: 5px;
}

h1{
font-family: 'Open Sans', sans-serif;
margin: 0;
}

h3{
	cursor: pointer;
}
h3:hover{
	transform: scale(1.0) translateX(5px);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

#Info{display: none;}
